.text-center{
    text-align: center;
}
.background{
    background-color: red;
}
.m-x-auto{
    margin: auto;
}


.flex{
    display: flex;
    justify-content: center;
    align-items: center;

}
.flex-col{
    flex-direction: column;
}
.items-center{
    align-items: center;
}